<div>
    <h1>Nguyễn Việt Dũng</h1>
    <h2>JS Developer</h2>
    <p>*** I want to become a full-stack Javascript Developer ***</p>
  </div>
  <h2>Detail Information</h2>

  <div>
    <p>Date of birth: 12/04/1995<p>
    <p>Gender: Male</p>
    <p>Address: 54, K80c, 376 Buoi Street, Ba Dinh District, Ha Noi, Viet Nam. <p>
    <p>Phone number: 01675534026</p>
    <p>Learning IT at Thang Long University<p>
    <p>Being able to learn fast, always ready to learn new things, ambitious in the work. Confident and enthusiastic<p>
  </div>