<!DOCTYPE html>
<html>
  <head><% include partials/template/header.ejs %></head>
  <body id="<%= pageID %>">
    <div class="container">
      <div class="row">
        <% include partials/content/muc.ejs %>
      </div>
    </div><!-- container -->
  </body>
</html>